# Set up your base path here
BASE=/home/uart/gltracesim/gltracesim/ext
BASE_LOCAL=$BASE/local

export PYTHONPATH=$BASE_LOCAL/lib/python2.7/site-packages/:$PYTHONPATH
export CPATH=$BASE_LOCAL/include/:$BASE_LOCAL/usr/include/:$CPATH
export PATH=$BASE_LOCAL/bin/:$PATH
export LD_LIBRARY_PATH=$BASE_LOCAL/../mesa/build/linux-x86_64/gallium/targets/libgl-xlib/:$BASE_LOCAL/lib/:$BASE_LOCAL/usr/lib64/:/usr/lib64/:/usr/lib/:/usr/local/lib:$LD_LIBRARY_PATH
export LIBRARY_PATH=$BASE_LOCAL/lib/:$BASE_LOCAL/usr/lib64/:/usr/local/lib:/usr/lib:$LIBRARY_PATH
export PKG_CONFIG_PATH=$BASE_LOCAL/lib/pkgconfig:$BASE_LOCAL/usr/lib64/pkgconfig:$BASE_LOCAL/share/pkgconfig/:$PKG_CONFIG_PATH

LOCAL_ROOT=$BASE

export PYTHONPATH="${LOCAL_ROOT}/protobuf/python:${PYTHONPATH}"
export LD_LIBRARY_PATH="${LOCAL_ROOT}/protobuf/src/.libs:${LD_LIBRARY_PATH}"

# Force the use of the CPP extension
export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=cpp
export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION=2
# Add the CPP extension to the PYTHONPATH
export PYTHONPATH="${LOCAL_ROOT}/protobuf/python/build/lib.linux-x86_64-2.7:${PYTHONPATH}"

# Compiling with this protobuf implementation
export CFLAGS="-pthread -I$BASE_LOCAL/include"
export LDFLAGS="-pthread -L$BASE_LOCAL/lib -lprotobuf -lpthreads"
